{% extends 'index.html' %}
{% block title %}Login{% endblock title %}
{% block main %}

<body id="login">
<div id="login">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        {% for name, attributes in fields.items %}
        <div class="field">
            <label for="{{ attributes.id }}">{{name}}</label>
            <input
                type="{{ attributes.type }}"
                name="{{ attributes.id }}"
                id="{{ attributes.id }}"
                placeholder="{{ attributes.placeholder }}"
                autocomplete="off"
                required
            >
        </div>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'register_user' %}">register</a>
</div>
</body>

{% endblock main %}
