{% extends 'index.html' %}
{% block title %}Login{% endblock title %}
{% block main %}

<div id="login">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        {% for name, attributes in fields.items %}
        <div class="field">
            <label class="label" for="{{ attributes.id }}">{{name}}</label>
            <input
                class="input"
                type="{{ attributes.type }}"
                name="{{ attributes.id }}"
                id="{{ attributes.id }}"
                placeholder="{{ attributes.placeholder }}"
                autocomplete="off"
                required
            >
        </div>
        {% endfor %}
        <input class="btn" type="submit" value="Login">
    </form>
    <div id="sign-up">
        <p>Don't have an account?</p>
        <a href="{% url 'register_user' %}">Sign Up</a>
    </div>
</div>

{% endblock main %}
