{% extends 'index.html' %}
{% block title %}Register{% endblock title %}

{% block main %}


<div>
    <form method="POST" action="">
        {% csrf_token %}
        {% for name, attributes in fields.items %}
        <div class="field">
            <label for={{attributes.id}}>{{name}}</label>
            <input type={{attributes.type}} name={{attributes.name}} id={{attributes.id}} required>
        </div>
        {% endfor %}
        <input type="submit" value="Register">
    </form>
</div>

<a href="{% url 'login_user' %}">login</a>


{% endblock main %}
