{% for main_category in bookmark_categories %}

<div class="category">
    <h1 class="title">{{main_category}}</h1>

    {% for parent_category, sub_category_bookmarks in bookmarks_with_subcategory.items %}
        {% if parent_category == main_category %}
            {% for title, bookmarks in sub_category_bookmarks.items %}
            <div class="subcategory">
                <h3 class="title">{{title}}</h3>
                {% for bookmark in bookmarks %}
                    <a href="">{{bookmark}}</a>
                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% for parent_category, bookmarks in bookmarks_with_no_subcategory.items %}
        {% if parent_category == main_category %}
            {% for bookmark in bookmarks %}
                <a href="">{{bookmark}}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}

</div>

{% endfor %}
