<div id="settings-profile" class="field-group">
    <div class="field">
        <label for="username">Username</label>
        <input type="text" name="profile-username" id="username">
    </div>
    <div class="field">
        <label for="country">Country</label>
        <input type="text" name="profile-country" id="country">
    </div>
    <div class="field">
        <label for="city">City</label>
        <input type="text" name="profile-city" id="city">
    </div>
    <input type="hidden" name="profile-id" value="{{ profile.id }}">
</div>
