/* =================== GLOBAL =================== */
* {
    position:relative;
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:center;
    text-align:left;
    box-sizing:border-box;
    color:inherit;
    max-width:100%;
}
html,body {
height:100%;
font-size:1rem;
font-weight:lighter;
font-family:sans-serif;
}

input {
    all: unset;
}

body {
    background-color: #1D1E22;
    color: #fff;
}

/* =================== HOME PAGE =================== */
#bookmarks {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 50px 200px;
}

#bookmarks > .category {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    min-width: 15.7%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#bookmarks > :nth-child(n+6) {
    margin-top: 20px;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    min-height: 180px;
    max-height: 180px;
}


/* ============== LOGIN PAGE ============== */
