{% for service, email_accounts in email_services.items %}

<div class="email-service">
    <h3 class="service-title">{{service.name}}</h3>
    {% for account in email_accounts %}
    <div class="email-account">
        <h3 class="service-title">{{service.name}}/{{account.category}}</h3>

        <div class="field">
            <label for="email-{{ account.id }}">Email</label>
            <input type="email" name="email-email" id="email-{{ account.id }}" value="{{ account.email }}">
        </div>

        <div class="field">
            <label for="password-{{ account.id }}">Password</label>
            <input type="text" name="email-password" id="password-{{ account.id }}" value="{{ account.password }}">
        </div>

        <div class="field">
            <label for="category-{{ account.id }}">Category</label>
            <input type="text" name="email-category" id="category-{{ account.id }}" value="{{ account.category }}">
        </div>

        <div class="field">
            <label for="color-{{ account.id }}">Color</label>
            <input type="text" name="email-color" id="color-{{ account.id }}" value="{{ account.color }}">
        </div>
        <input type="hidden" name="email-id" value="{{ account.id }}">
        <input type="hidden" name="email-service" value="{{ service.id }}">
    </div>
    {% endfor %}
</div>

{% endfor %}
