{% for email in emails %}
 {{loop.index}}
<!-- <form id="email-form" class="form" action="" method="POST">
    {% csrf_token %} -->
    <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{ email.email | default_if_none:'' }}">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="text" name="email-password" id="password" value="{{ email.password | default_if_none:''}}">
    </div>
    <div class="field">
        <label for="color">Notification Color</label>
        <input type="text" name="color" id="color" value="{{ email.color | default_if_none:''}}">
    </div>
    <!-- <input type="hidden" name="id" id="id" value="{{ email.id }}"> -->
    <!-- <input type="submit" value="Save"> -->
<!-- </form> -->
{% endfor %}
