<div id="interface">
{% for setting in interface_settings %}

<div class="field">
    <label for="interface-mode">Dark Mode</label>
    {% if setting.dark_mode %}
    <input type="checkbox" name="interface-dark_mode" id="interface-dark_mode" checked>
    {% else %}
    <input type="checkbox" name="interface-dark_mode" id="interface-dark_mode">
    {% endif %}
</div>
<div class="field">
    <label for="interface-sidebar">Sidebar right</label>
    {% if setting.sidebar_right %}
    <input type="checkbox" name="interface-sidebar_right" id="interface-sidebar_right" checked>
    {% else %}
    <input type="checkbox" name="interface-sidebar_right" id="interface-sidebar_right">
    {% endif %}
</div>
<input type="hidden" name="interface-user_id" value="{{ setting.user.id }}">
<input type="hidden" name="interface-id" value="{{ setting.id }}">
<div class="field">
    <label for="interface-theme_id">Theme</label>
    <select name="interface-theme" id="interface-theme_id">
        <option value="{{ setting.theme.id }}">{{ setting.theme }}</option>
        {% for theme in themes %}
            {% if theme.id != setting.theme.id %}
            <option value="{{ theme.id }}">{{ theme.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endfor %}
</div>
